body {
    background-color: #202124;
    text-align: center; /* Aligns text globally */
  }
  h1 {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 300%;
  }
  p {
    color: rgb(255, 255, 255);
    font-family: courier;
    font-size: 160%;
  }

  /* Center and style the hyperlink */
a.centered-link {
    display: inline-block; /* Ensures it works with text-align */
    text-decoration: none;
    font-size: 160%;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px 20px;
  }

  .my-image {
    width: 300px; /* Sets the width of the image */
    height: auto; /* Keeps the aspect ratio of the image */
  }